@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #020617;
  /* font-family: monospace; */
}

html{
  scroll-behavior: smooth;
}

/* Styles for WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  height: 10px; /* Adjusts scrollbar height for horizontal scrolling */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a; /* Scrollbar track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #333; /* Border around thumb */
}

/* Styles for Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #555 #1a1a1a; /* Thumb and track colors */
}

@media only screen and (min-width: 1024px){
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }  

  .custom-scrollbar {
    scrollbar-width: none;
    scrollbar-color: #555 #1a1a1a;
  }
}